.opening-header {
    padding: 5px;
    background-color: rgba(11, 156, 252, 0.938);
    border-radius: 10px;
}

.my-name {
    font-size: 48px;
    padding-left: 25px;
}

.header-text {
    font-size: 28px;
    padding-left: 25px;
}

.nav-buttons {
    border-radius: 8px;
    font-size: 20px;
    padding-right: 10px;
    background-color: rgb(0, 68, 255);
    color: cornsilk;
    transition-duration: .4s;
}

.nav-buttons:hover {
    background-color: rgba(11, 156, 252, 0.938);
}
